# everything
* 

# exceotions: files
!.gitignore
!*.css
!*.html
!*.ico
!*.md
!*.png
!*.py
!*.sh
!*.sql
!AUTHORS

# exceotions: directories
!models
!models/engine
!tests
!tests/test_models
!tests/test_models/test_engine
!web_static
!web_static/images
!web_static/styles

# specific files to ignore
main.py
